<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Servlet</servlet-name>
  	<display-name>Servlet</display-name>
  	<description></description>
  	<servlet-class>controler.Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletSesion</servlet-name>
  	<display-name>ServletSesion</display-name>
  	<description></description>
  	<servlet-class>controler.ServletSesion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletVisualizar</servlet-name>
  	<display-name>ServletVisualizar</display-name>
  	<description></description>
  	<servlet-class>controler.ServletVisualizar</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletSesion</servlet-name>
  	<url-pattern>/ServletSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletVisualizar</servlet-name>
  	<url-pattern>/ServletVisualizar</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Pool conexiones Oracle</description>
    <res-ref-name>jdbc/myoracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>
</web-app>
